version: '3.4'

services:
  clubmanager:
    image: ${DOCKER_REGISTRY-}clubmanager
    container_name: clubManager-api
    build:
      context: .
      dockerfile: ClubManager/Dockerfile
    ports:
        - 8080:8080
        - 8081:8081
    depends_on: 
        - "database"

  clubmanager1:
    image: ${DOCKER_REGISTRY-}clubmanager
    container_name: clubManager-api1
    build:
      context: .
      dockerfile: ClubManager/Dockerfile  
    ports:
        - "9080:9080"
        - "9081:9081"
    depends_on: 
        - "database"

  clubmanager2:
    image: ${DOCKER_REGISTRY-}clubmanager
    container_name: clubManager-api2
    build:
      context: .
      dockerfile: ClubManager/Dockerfile
    ports:
        - "7080:7080"
        - "7081:7081"
    depends_on: 
        - "database"
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379

  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: clubManagerDatabase
    environment:
      SA_PASSWORD: "P@ssw0rd2024!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

volumes:
    sqlserverdata:

